@model IEnumerable<Beginning.Asp.net.Core.Models.FakeApi.User>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-columns">
	@foreach (var user in Model)
	{
		<div class="card">
			<div class="card-img" style="background-image: url('@user.Avatar');"></div>
			<div class="card-body">
				<h5 class="card-title">
					@user.FirstName
				</h5>
			</div>
		</div>
	}
</div>